/* Seletores */

/* seleciona tudo: */
* {             
    margin:0;
    padding:0;
}

/* input:checked + p{
    background-color: blue;
}


input:not(:checked) + p{
    background-color: yellow;
}

p:not(.meio){
    background-color: red;
} */

ul li:nth-child(even){
    background-color: red;
}
ul li:nth-child(odd){
    background-color: blue;
}
ul li:nth-child(3n+5){
    background-color: yellow;
}